<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;

        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }
    </style>



    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                { nome: "Pedro", telefone: "99998888" },
                { nome: "Ana", telefone: "99997777" },
                { nome: "Maria", telefone: "99996666" }
            ];
            //Linha abaixo referente ao 1º e 2º Modo
            //$scope.adicionarContato = function (nome, telefone) {
            $scope.adicionarContato = function (contato) {
                //console.log($scope.nome); apenas para imprimir o resultado do inputtext no console
                /* 
                Evitar ao máximo ler o $scope dentro do Controller
                Quando, existe o sinal de '=' dentro do Controller, informa que eu estou
                     escrevendo dentro do mesmo, já quando existe um '$scope.' alguma coisa,
                     aí eu estou LENDO e é o que não se deve fazer
                Perde-se clareza no código p.ex.: 
                        1º Modo
                            $scope.contatos.push({ nome: $scope.nome, telefone: $scope.telefone });
                        2º Modo
                            $scope.contatos.push({ nome: nome, telefone: telefone });        
                */
                // Deixando o código como está na linha abaixo, funciona, mas se
                // começarmos a apagar tanto nome como contato, ele apaga dos inputtexts 
                // e também da tabela
                // $scope.contatos.push(contato);
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato; //esta linha, apaga o que está nos inputs, após a inclusão na tabela
            };
        });
    </script>

</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <!-- Esta abaixo é o bind direto
        <h4 ng-bind="app"></h4> -->
        <!-- Essa notação abaixo chama-se interpolação -->
        <h2>{{app}}</h2>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
            </tr>
            <tr ng-repeat="contato in contatos">
                <!-- Modo mais braçal de fazer o repeat de todos os dados de contato -->
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>

                <!-- outro modo de fazer
                <td ng-repeat="(key, value) in contato">
                    {{value}}
                </td> -->
            </tr>
        </table>
        <hr />
        <!-- As duas linhas abaixo referem-se ao 1º e 2º Modo -->
        <!-- <input class="form-control" type="text" ng-model="nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="telefone" placeholder="Telefone"/> -->

        <!-- Já as duas linhas abaixo, usam o 'contato.' como forma de abstração da entidade "contato" -->
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
        <br>
        <!-- A linha abaixo refere-se ao 1º e 2º Modo -->
        <!-- <button class="btn btn-primary btn-block" ng-click="adicionarContato(nome, telefone)">Adicionar contato</button> -->
        {{contato}}
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar contato</button>
    </div>
</body>

</html>

<!-- 
Anotações

NG-BIND: pega alguma coisa do $scope e exibe
NG-MODEL: pega alguma coisa da View e define no $scope, inputs, selects e textares (aplicações)
 -->
